:root {
    --empresaOscuro: #006381;
    --empresaClaroBrillante: #E4FBFF;
    --empresaClaro: #7ECBE7;
    --empresaClaroRealce: #E5FFFF;
    --logoVerde: #B2DDA8;
    --logoOscuro: #415D6C;
    --logoGrisRealce: #A6A6A6;
  
    --charcoalGray: #121212;
    --notSoBlack: #161618;
    --notSoGray: #2A2A2A;
  
    --notSoWhite: #FFFFFC;
    --hakujiWhite: #F8FBF8;
    --milkyWhite: #F3F3F3;
  
    background-color: var(--notSoWhite);
    color: var(--notSoBlack);
  
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      background-color: var(--notSoBlack);
      color: #ffffff;
    }
  }
  
  
  /* ------------------------------------- */
  .headerTeamContainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 35rem;
    -webkit-box-shadow: inset 0px 0px 500px 225px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: inset 0px 0px 500px 225px rgba(0, 0, 0, 0.65);
    box-shadow: inset 0px 0px 500px 225px rgba(0, 0, 0, 0.65);
    padding-bottom: 4rem;
  }
  
  .headerTeamContainer h1 {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: auto;
    font-size: 2.5rem;
    text-align: center;
    color: var(--notSoWhite);
    margin-bottom: 2.5rem;
    height: auto;

}
  
  .headerTeamContainer h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    margin: auto;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    color: var(--notSoWhite);
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  
  .headerTeamContainer button {
    border-radius: 2rem;
    width: 19rem;
    font-size: 1.1rem;
    margin: auto;
    padding: 1rem 2rem;
    background-color: var(--empresaClaroBrillante);
    font-weight: 700;
    cursor: pointer;
    transition: ease-in-out all 300ms;
    text-align: center;
  }
  
  .headerTeamContainer button:hover {
    background-color: var(--empresaOscuro);
    color: var(--notSoWhite);
    font-size: 1.15rem;
  }
  
  @media (prefers-color-scheme: dark) {
    .headerTeamContainer button {
      color: white;
      background-color: var(--empresaOscuro);
    }
  
    .headerTeamContainer button:hover {
      background-color: var(--empresaClaro);
      color: black;
      font-size: 1.15rem;
    }
  }
  
  
  @media (prefers-color-scheme: light) {
    h2,
    p,
    li {
      color: var(--notSoBlack);
    }
  }

.membersContainer {
    margin-top: 2rem;
}

.membersContainer h2 {
    margin: auto;
    width: 20rem;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
}