:root {
  --empresaOscuro         : #006381;
  --empresaClaroBrillante : #E4FBFF;
  --empresaClaro          : #7ECBE7;
  --empresaClaroRealce    : #E5FFFF;
  --logoVerde             : #B2DDA8;
  --logoOscuro            : #415D6C;
  --logoGrisRealce        : #A6A6A6;

  --charcoalGray          : #121212;
  --notSoBlack            : #161618;
  --notSoGray             : #2A2A2A;

  --notSoWhite            : #FFFFFC;
  --hakujiWhite           : #F8FBF8;
  --milkyWhite            : #F3F3F3;

  background-color : var( --notSoWhite );
  color            : var( --notSoBlack );

  font-family : "Comfortaa", sans-serif;
  font-weight : 400;
  font-style  : normal;
}
@media ( prefers-color-scheme: dark ) {
  :root { 
    background-color : var(--notSoBlack);
    color: #ffffff;
  }
}


/* ------------------------------------- */
.headerMainContainer {
  background-size     : cover;
  background-repeat   : no-repeat;
  background-position : center;
  display             : flex;
  flex-direction      : column;
  margin: auto;
  margin-top: 5rem;
  height: 32rem;
  -webkit-box-shadow: inset 0px 0px 500px 225px rgba(0,0,0,0.65);
  -moz-box-shadow: inset 0px 0px 500px 225px rgba(0,0,0,0.65);
  box-shadow: inset 0px 0px 500px 225px rgba(0,0,0,0.65);
  padding-bottom: 4rem;
}

.headerMainContainer h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: auto;
  margin-top: 5rem;
  font-size: 3rem;
  text-align: center;
  color: var(--notSoWhite);
}

.headerMainContainer h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  color: var(--notSoWhite);
}

.headerMainContainer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  color: var(--notSoWhite);
}

.accionResalte {
  font-weight: 900;
}

.headerMainContainer button {
  width: 10rem;
  margin: auto;
  font-size: 1.2rem;
  padding: 0.9rem;
  border-radius: 1rem;
  font-weight: 700;
  background-color: var(--logoVerde);
  cursor: pointer;
  transition: ease-in-out all 300ms;
  text-align: center;
}

.headerMainContainer button:hover{
  background-color: var(--empresaOscuro);
  color: var(--notSoWhite);
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  .headerMainContainer {
    height  : auto;
  }
}

.accionResalte {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: baseline;
  overflow: hidden;
}

.featuresContainer {
  margin-top: 2rem;
}


.featuresContainer h2 {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

@media ( prefers-color-scheme: light ) {
   h2{
    color: var(--notSoBlack);
  }
}