:root {
    --empresaOscuro         : #006381;
    --empresaClaroBrillante : #E4FBFF;
    --empresaClaro          : #7ECBE7;
    --empresaClaroRealce    : #E5FFFF;
    --logoVerde             : #B2DDA8;
    --logoOscuro            : #415D6C;
    --logoGrisRealce        : #A6A6A6;
  
    --charcoalGray          : #121212;
    --notSoBlack            : #161618;
    --notSoGray             : #2A2A2A;
  
    --notSoWhite            : #FFFFFC;
    --hakujiWhite           : #F8FBF8;
    --milkyWhite            : #F3F3F3;
    --unoharairoWhite       : #F7FCFE;
    background-color : var( --notSoWhite );
    color            : var( --notSoBlack );
  
    font-family : "Comfortaa", sans-serif;
    font-weight : 400;
    font-style  : normal;
  }
  @media ( prefers-color-scheme: dark ) {
    :root { 
      background-color : var(--notSoBlack);
      color: #ffffff;
    }
  }
  
.gridFeatures {
    display: grid;
  
  }
  
  @media (max-width: 768px) {
    .gridFeatures {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
  
  @media (min-width: 1280px) {
    .gridFeatures {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
  }

.carrusel{
    z-index: -1;
    width: 85%;
    height: 500;
    margin:auto;
    margin-top: 4rem;
}

@media (min-width: 768px){ 
   .carrusel {
    width: 80%;
   }
}